<%- include('../../layout/header.ejs')%>
<main id="content">
    <section class="form-section">
        <div class="container">
            <div class="row">
              <div class="content-wrapper">
                <div class="col-6">
                    <h2 class="mb-1">Data Product</h2>
                    <p>Kelola data product</p>
                      <form action="/update_products/<%= product.id %>" method="POST">
                        <div class="mb-3 col-12">
                            <label for="exampleInputPassword1" class="form-label">Product Name</label>
                            <input name="product" value="<%= product.product %>" class="form-control">
                          </div> 
                        <div class="mb-3 col-12">
                            <label for="exampleInputPassword1" class="form-label">Category</label>
                            <input name="category" value="<%= product.category %>" class="form-control">
                        </div>
                      <div class="mb-3 col-12">
                        <label for="exampleInputEmail1" class="form-label">Harga</label>
                        <input name="price" value="<%= product.price %>" class="form-control" aria-describedby="emailHelp" >
                      </div>
                      <div class="mb-3 col-12">
                        <label for="exampleInputEmail1" class="form-label">QTY</label>
                        <input name="qty" value="<%= product.qty %>" class="form-control">
                      </div>
                      <div class="mb-3 col-12">
                        <label for="exampleInputPassword1" class="form-label">Status</label>
                        <input name="status" value="<%= product.status %>" class="form-control">
                      </div>
                      <div class="mb-3 col-12">
                        <label for="brand"  class="form-label">Brand</label><br>
                        <input class="form-control" value="<%= product.brand %>" id="brand" name="brand">
                      </div>  
                      <div class="mb-3 col-12">
                        <label for="supplier"  class="form-label">Supplier</label><br>
                        <input class="form-control" value="<%= product.supplier %>" id="supplier" name="supplier">
                      </div>                      
                      <input type="submit" value="Submit" class="btn btn-primary">
                      <a href="/admin/product" type="button" class="btn btn-success">Back</a>
                    </form>
                  </div>
                </div>
                <div class="content-wrapper">
                  <div class="col-6">
                    <img src="img/login.png" alt="">
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
</main>
<%- include('../../layout/footer.ejs') %>